/* Styles pour la page de profil */

.profil-page {
    padding: 16px;
    font-family: Arial, sans-serif;
  }
  
  .profil-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profil-header-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
  }
  
  .profil-header-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .profil-header-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profil-header-pseudo {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }
  
  .profil-header-description {
    font-size: 16px;
    color: white;
    margin: 0;
  }
  
  .profil-header-stats {
    margin-top: 10px;
    text-align: center;
  }
  
  .follow-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  
  .follow-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .follow-button.follow {
    background-color: #007bff;
  }
  
  .follow-button.unfollow {
    background-color: #dc3545;
  }
  
  .followers-count {
    font-size: 16px;
    font-weight: bold;
  }
  
  .profil-bd-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  .profil-bd-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
  }
  
  .profil-bd-no-items {
    text-align: center;
    color: #888;
    font-size: 16px;
  }
  

  .profil-settings {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    color: white;
    z-index: 100; 
  }
  
/* ProfilPage.css */
.profilpage .bd-cover {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 8px;
}